/* //HEADER// */

header {
  width: 100%;
  background: var(--color-bg-white);
  position: fixed;
  z-index: 1;
  max-height: 80px;
}

.container-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  height: 80px;
  width: 70%;
  margin: auto;
}

.menu-section {
  display: flex;
  position: relative;
}

/* // OPTIONS HEADER // */


.menu-section nav ul {
  display: flex;
  list-style: none;
}

.menu-section nav a {
  color: var(--color-text-p);
  font-family: var(--inter-m);
  font-weight: 500;
  font-size: 1.5rem;
  padding: 8px;
  position: relative;
  transition: 0.3s;
  text-decoration: none;

  line-height: 4rem;
  
}

/* //BURGER MENU AFTER ACTIVATING// */

  .menu-section nav {
      display: none;
  }

  .btn-creat {
    display: none;
  }

  /* // CONFIG MENU HAMBURGUER // */

  .one,
  .two,
  .three {
      background-color: #161616;
      height: 4px;
      width: 100%;
      margin: 5px auto;
      border-radius: 5px;
      transition-duration: 0.3s;
  }

  .menu-burguer {
      width: 35px;
      height: 30px;
  }

  /* // MENU ACTIVE // */

  .menu-section.on {
      position: absolute;
      background: var(--color-bg-white);
      top: 0;
      right: 0;
      transform: translate(-50, -50%);
      padding-top: 50px;
      width: 20vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      z-index: 10;
  }

  .menu-section.on h2 {
    display: none;
  }

  .menu-section.on
  .two {
    background-color: #ffff;
  }


  .menu-section.on nav {
      display: block;
  }

  .menu-section.on .btn-creat {
    display: block;
  }

  .menu-section.on .menu-burguer {
      position: absolute;
      right: 30px;
      top: 30px;
  }

  /* // ANIMATION MENU // */

  .menu-section.on .menu-burguer .one {
      transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-burguer .two {
      opacity: 0;
  }

  .menu-section.on .menu-burguer .three {
      transform: rotate(-45deg) translate(5px, -6px);
  }

  .menu-section.on nav ul {
      display: block;
      text-align: center;
  }


/* //SECTION ONE // */


/* // SECTION CAR & TITLE // */

.container-main {
  width: 100vw;
  height: 70vh;
  display: flex;
  background: linear-gradient(
    101deg,
    rgba(238, 238, 238, 1) 0%,
    rgba(230, 230, 230, 1) 100%
  );
}

/* // CONTAINER CONTENT // */

.container-home {
  display: flex;
  width: 70%;
  max-width: 1400px;
  margin: auto;
  gap: 35px;
}

/* // CONTENT IMG CAR // */

.content-img {
  margin-left: 20px;
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.content-img img {
  width: 100%; 
}

.content-img:hover {
  transform: scale(1.1);
}

/* // CONTENT TEXT // */

.content-home {
  max-width: 50%;
}

.content-home h1 {
  font-family: var(--inter-b);
  font-size: 3.5rem;
  color:  var(--color-titles);
}

.container-home p {
  font-family: var(--mont-m);
  font-weight: 500;
  padding-top: 35px;
  color: var(--color-text-p);
}


/* // SECTION CARDS CARS // */

.container {
  width: 100vw;
  height: auto;
}

/* // config general cards // */

.content-cars {
  width: 70%;
  padding: 80px 0;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
.container-main .cards {
  flex: 1 1 200px;
  margin-left: 30px;
}

/* // CARDS CARS // */

.cards {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
  filter: grayscale(40%);
}

.cards:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
  

}

/* // IMG CARD // */

.cards .img-card {
  max-width: 280px;
  margin: auto;
}

.img-card {
  width: 100%;
}


.img-card img {
  width: 100%;
}


/* // BUTTON CARDS // */

.btn-card {
  width: 50%;
  margin: auto;
  padding: 8px 0;
  border: 2px solid var(--color-btn-cards-car);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  cursor: pointer;

  margin: 25px;
  transition: 0.7s;
}

.btn-card:hover {
  border: 2px solid rgb(216, 216, 216);
}

/* // TEXT BUTTON CARD // */

.btn-card a {
  font-family: var(--mont-m);
  font-size: 1.1rem;
  text-decoration: none;
  color: #ffff;
  transition: 0.1s;
}



/* // CARS CARDS BACKGROUND COLOR // */


/* //CARRO 1// */

#card-bg1::before {
  content: "";
  width: 99%;
  height: 120px;
  top: -20%;
  border-radius: 15px;
  z-index: -1;
  position: absolute;
  transition: 0.7s;
  transform: scaleX(0);
}

#card-bg1:hover::before {
  background: linear-gradient(
    310deg,
    rgba(168, 168, 168, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  transform: scaleX(100%);
  transition: 0.5s;
}

/* //CARRO 2// */

#card-bg2::before {
  content: "";
  width: 100%;
  height: 120px;
  top: -25%;
  border-radius: 15px;
  z-index: -1;
  position: absolute;
  transition: 0.7s;
  transform: scaleX(0);
}

#card-bg2:hover::before {
  background: linear-gradient(
    310deg,
    rgba(0, 153, 255, 1) 0%,
    rgba(0, 64, 117, 1) 100%
  );
  transform: scaleX(100%);
  transition: 0.5s;
}

/* //CARRO 3// */

#card-bg3::before {
  content: "";
  width: 100%;
  height: 120px;
  top: -20%;
  border-radius: 15px;
  z-index: -1;
  position: absolute;
  transition: 0.7s;
  transform: scaleX(0);
}

#card-bg3:hover::before {
  background: linear-gradient(
    310deg,
    rgba(180, 180, 180, 1) 0%,
    rgba(18, 18, 18, 1) 100%
  );
  transform: scaleX(100%);
  transition: 0.5s;
}

/* //CARRO 4// */

#card-bg4::before {
  content: "";
  width: 95%;
  height: 120px;
  top: -20%;
  border-radius: 15px;
  z-index: -1;
  position: absolute;
  transition: 0.7s;
  transform: scaleX(0);
}

#card-bg4:hover::before {
  background: linear-gradient(
    310deg,
    rgba(0, 120, 129, 1) 0%,
    rgba(0, 209, 255, 1) 100%
  );
  transform: scaleX(100%);
  transition: 0.5s;
}

/* //CARRO 5// */

#card-bg5::before {
  content: "";
  width: 100%;
  height: 120px;
  top: -20%;
  border-radius: 15px;
  z-index: -1;
  position: absolute;
  transition: 0.7s;
  transform: scaleX(0);
}

#card-bg5:hover::before {
  background: linear-gradient(
    101deg,
    rgba(11, 11, 11, 1) 0%,
    rgba(75, 75, 75, 1) 100%
  );
  transform: scaleX(100%);
  transition: 0.5s;
}

/* //CARRO 6// */

#card-bg6::before {
  content: "";
  width: 100%;
  height: 139px;
  top: -20%;
  border-radius: 15px;
  z-index: -1;
  position: absolute;
  transition: 0.7s;
  transform: scaleX(0);
}

#card-bg6:hover::before {
  background: linear-gradient(
    3deg,
    rgba(222, 222, 222, 1) 0%,
    rgba(255, 255, 255, 1) 59%
  );
  transform: scaleX(100%);
  transition: 0.5s;
}

/* // SECTION CONTACT // */


/* // CONTAINER CONTACT // */

.container-contact {
  width: 100%;
  height: 80vh;
  display: flex;
  background: var(--color-bg-white);
}

.content-contact {
  width: 70%;
  max-width: 1400px;
  margin: auto;
}

/* // CONTAINER IMG PROFILE // */

.profile-atedente {
  width: 100%;
  margin: auto;
}

/* // TITLE SECTION CONTACT // */

.profile-atedente h1 {
  font-family: var(--inter-b);
  font-weight: 700;
  color: var(--color-titles);
  font-size: 3rem;

  text-align: center;
}

/* // SUB TILTE SECTION CONTACT // */

.profile-atedente p {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: var(--color-text-p);
  font-size: 1.4rem;

  text-align: center;
  margin-top: 20px;
  margin-bottom: 80px;
}

/* // PROFILES SECTION CONTACT // */

.profile-atedente ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 35px;

  margin-top: 35px;
}

/* // IMGS PROFILES SCTION CONTACT // */

.profile-atedente ul img {
  border-radius: 50%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
  transition: .5s;

  cursor: pointer;
}

/* // CONTAINER IMGS SOCIAIS CONTACT // */

.contact-list {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 60px;
}

.icons-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* // TITLE SOCIAIS CONTACT // */

.icons-social h3 {
  font-family: var(--mont-m);
  font-weight: 600;
  margin-top: 25px;
  font-size: 1.3rem;
  color: var(--color-text-p);
  transition: .5s;
}


/* // LINKS SOCIAIS CONTACT // */

.icons-social a {
  font-family: var(--mont-m);
  font-weight: 500;
  margin-top: 25px;
  font-size: 1rem;
  color: var(--color-titles);
  text-decoration: none;
  transition: .5s;
}

.icons-social a:hover {
  color: rgb(3, 82, 119);
}

.img-social {
  display: flex;
  justify-content: center;
  
  cursor: pointer;
}

.img-social img {
  width: 55%;
  transition: .4s;
}

#img-email {
  width: 80%;
  transition: .4s;
}


/* //footer// */

footer {
  width: 100%;
  display: flex;
  background: linear-gradient(
    106deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(196, 196, 196, 1) 100%
  );
}

.card-footer {
  width: 70%;
  max-width: 1100px;
  display: flex;
  margin: auto;
}

.card-footer {
  width: 70%;
  max-width: 1100px;
  display: flex;
  margin: auto;
}

.cards-footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
}

.cards-footer h3 {
  font-family: var(--inter-b);

  color: var(--color-titles);
  margin-bottom: 20px;
}

.cards-footer ul {
  list-style: none;
  display: grid;
  gap: 6px;
}

.cards-footer ul li a {
  font-family: var(--inter-m);
  font-weight: 500;

  color: var(--color-text-p);
  text-decoration: none;
}

.cards-footer ul li {
  transition: 0.4s;
}

.input-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cards-footer ul li:hover {
  transform: translateX(5%);
  opacity: 90%;
}

.input-footer label {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;

  color: var(--color-titles);
}

.input-footer input {
  padding: 10px 10px;
  border: none;
  border: 2.5px solid var(--color-titles);
  background: none;

  color: #1f1f1f;
  font-size: 1rem;
  font-weight: 500;
}

.input-footer input::placeholder {
  font-family: var(--inter-m);
  font-size: 1rem;
  font-weight: 500;
  color: #0073ca;
}

.btn-footer {
  width: 100%;
  margin-top: 15px;
}

.btn-footer button {
  width: 100%;
  padding: 10px 0;
  border: none;
  background-color: var(--color-titles);

  color: #ffff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}

.social-footer {
  width: 100%;
  display: flex;
  margin-top: 15px;
}

.social-footer ul {
  display: flex;
  width: 100%;
  gap: 35px;
}

@media (max-width: 970px) {
  .card-footer {
    display: flex;
    flex-direction: column;
  }
}